# Proyect 7 using Streamlit

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
from scipy import stats as st

In [2]:
# Carga de archivos de DataFrame

print("#############################################")
print("#                VEHICLES-US                #")
print("#############################################")

print("\n╔════════════════════════════════╗")  
print("║   ANÁLISIS DE CIENCIA DE DATOS ║")  
print("║         DESARROLLADO POR       ║")  
print("║    Mauricio Zárate Romero      ║")  
print("╚════════════════════════════════╝") 

# car_data = df_cd

df_cd_copy = pd.read_csv('vehicles_us.csv')

# Copia de seguridad para no modificar los DataFrames originales.

df_cd = df_cd_copy.copy()

#############################################
#                VEHICLES-US                #
#############################################

╔════════════════════════════════╗
║   ANÁLISIS DE CIENCIA DE DATOS ║
║         DESARROLLADO POR       ║
║    Mauricio Zárate Romero      ║
╚════════════════════════════════╝

In [21]:
# Información general/resumida sobre el DataFrame

print("\n╔══════════════════════════════════════════════════╗")
print("║                'vehicles_us.csv'                 ║")
print("║                  'Información'                   ║")
print("╚══════════════════════════════════════════════════╝")
print("\n" + "=" * 50)
df_cd.info()
print("\n" + "=" * 50)
print("\n- Total de filas duplicadas:", df_cd.duplicated().sum())
print("\n" + "=" * 50)
print('\n- Total de valores nulos:\n \n', df_cd.isna().sum())
print("\n" + "=" * 50)
print('\n- Estadisticas\n \n', df_cd.describe())

╔══════════════════════════════════════════════════╗
║                'vehicles_us.csv'                 ║
║                  'Información'                   ║
╚══════════════════════════════════════════════════╝

==================================================
<class 'pandas.core.frame.DataFrame'>
Index: 50727 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         50727 non-null  int64
 1   model_year    47160 non-null  float64
 2   model         50727 non-null  object
 3   condition     50727 non-null  object
 4   cylinders     45538 non-null  float64
 5   fuel          50727 non-null  object
 6   odometer      42958 non-null  float64
 7   transmission  50727 non-null  object
 8   type          50727 non-null  object
 9   paint_color   41611 non-null  object
 10  is_4wd        24906 non-null  float64
 11  date_posted   50727 non-null  object
 12  days_listed   50727 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 7.4+ MB

==================================================

- Total de filas duplicadas: 0

==================================================

- Total de valores nulos:

 price               0
model_year       3567
model               0
condition           0
cylinders        5189
fuel                0
odometer         7769
transmission        0
type                0
paint_color      9116
is_4wd          25821
date_posted         0
days_listed         0
dtype: int64

==================================================

- Estadisticas

                price    model_year     cylinders       odometer   is_4wd  \
count   50727.000000  47160.000000  45538.000000   42958.000000  24906.0
mean    12323.308238   2009.657591      6.097743  116728.579985      1.0
std     10002.603186      6.262325      1.637250   64761.294305      0.0
min         3.000000   1908.000000      3.000000       0.000000      1.0
25%      5299.000000   2006.000000      4.000000   72061.250000      1.0
50%      9495.000000   2011.000000      6.000000  114000.000000      1.0
75%     16907.000000   2014.000000      8.000000  155797.750000      1.0
max    375000.000000   2019.000000     12.000000  990000.000000      1.0

        days_listed
count  50727.000000
mean      39.564926
std       28.208650
min        0.000000
25%       19.000000
50%       33.000000
75%       53.000000
max      271.000000

In [4]:
df_cd.sample(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
49949,10995,2011.0,gmc sierra 1500,excellent,8.0,gas,160708.0,automatic,pickup,NaN,1.0,2018-06-16,7
38100,25995,2015.0,ford f-150,excellent,6.0,gas,73000.0,automatic,truck,red,1.0,2019-02-03,25
20481,35999,2013.0,ram 3500,excellent,6.0,diesel,105925.0,automatic,pickup,brown,1.0,2018-12-19,25
17575,10000,2007.0,ford expedition,excellent,8.0,gas,111376.0,automatic,SUV,white,NaN,2019-01-18,20
38359,14500,2011.0,toyota tacoma,excellent,NaN,gas,114919.0,automatic,pickup,white,NaN,2018-05-25,79
43739,3400,2008.0,chevrolet trailblazer,excellent,6.0,gas,201276.0,automatic,SUV,white,1.0,2018-10-17,39
11192,4495,2010.0,honda accord,like new,4.0,gas,160000.0,automatic,coupe,black,NaN,2019-02-02,8
17911,9500,2012.0,buick enclave,excellent,6.0,gas,121000.0,automatic,SUV,white,1.0,2018-10-14,17
28791,14250,2014.0,nissan murano,excellent,6.0,gas,68082.0,automatic,SUV,NaN,NaN,2019-04-18,43
22534,4995,2002.0,honda cr-v,excellent,4.0,gas,157946.0,automatic,SUV,brown,1.0,2019-03-28,9

### Tratamiento por columna

### price

In [19]:
# 1. Mostrar valores nulos y tipo de columna antes de modificar
print(f"Valores nulos = {df_cd['price'].isna().sum()}")
print(f"Tipo de columna = {df_cd['price'].dtypes}")

# 2. Reemplazar los valores 1 por NaN
indices_1 = df_cd[df_cd['price'] == 1].index.tolist()
df_cd.loc[indices_1, 'price'] = np.nan

# 3. Mostrar valores nulos y tipo de columna después de modificar
print(f"Valores nulos = {df_cd['price'].isna().sum()}")
print(f"Tipo de columna = {df_cd['price'].dtypes}")

# 4. Comprobar que ya no hay valores 1 en 'price'
indices_1 = df_cd[df_cd['price'] == 1].index.tolist()
print(f"Índices con price=1: {indices_1}")

# 5. Eliminar filas con NaN en 'price' (opcional, si quieres limpiar el DataFrame)
df_cd = df_cd.dropna(subset=['price'])

# 6. Mostrar valores nulos tras eliminar filas
print(f"Valores nulos después de dropna = {df_cd['price'].isna().sum()}")

# 7. Cambiar la columna a int
df_cd['price'] = df_cd['price'].astype(int)
print(df_cd['price'].dtype)

Valores nulos = 0
Tipo de columna = int64
Valores nulos = 0
Tipo de columna = int64
Índices con price=1: []
Valores nulos después de dropna = 0
int64

### model_year

In [27]:
print(df_cd['model_year'].describe())
print(f'\nvalores nulos = {df_cd['model_year'].isna().sum()}')

count    47160.000000
mean      2009.657591
std          6.262325
min       1908.000000
25%       2006.000000
50%       2011.000000
75%       2014.000000
max       2019.000000
Name: model_year, dtype: float64

valores nulos = 3567